
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>書籍查詢</h2>
<hr />
<form action="/AppMarketingAnalysis/Index" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">書名</label>
            <div class="col-md-10">
                <input id="BookName" type="text" value="" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">圖書類別</label>
            <div class="col-md-10">
                <select id="BookClass"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">借閱人</label>
            <div class="col-md-10">
                <select id="BookKeeper"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">借閱狀態</label>
            <div class="col-md-10">
                <select id="BookStatus"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-12">
                <input type="button" id="Search" class="btn btn-info" value="查詢" />
                <input type="button" class="btn btn-info" value="清除" onclick="location.href = '/AppMarketingAnalysis/Index'" />
                <input type="button" class="btn btn-info" value="新增" onclick="location.href = '/AppMarketingAnalysis/InsertBookView'" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/AppMarketingAnalysis/Index">回首頁</a>
</div>
<div id="NotFind" style="color:red;text-align:center;">查無資料</div>
<div id="BookGrid"></div>

<script src="~/Scripts/Index.js"></script>
