@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .requiredMark {
        color: red;
    }
</style>
<h2 id="Title">新增書籍</h2>

<hr />
<form action="/AppMarketingAnalysis/InsertBookView" method="post">
    <div class="form-horizontal">
        <div id="Validation">
            <div class="form-group">
                <label class="control-label col-md-2 L"><span class="requiredMark">*</span>書名</label>
                <div class="col-md-10">
                    <input id="BookName" name="書名" class="k-textbox" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><span class="requiredMark">*</span>作者</label>
                <div class="col-md-10">
                    <input id="BookAuthor" name="作者" class="k-textbox" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><span class="requiredMark">*</span>出版商</label>
                <div class="col-md-10">
                    <input id="BookPublisher" name="出版商" class="k-textbox" type="text" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><span class="requiredMark">*</span>內容簡介</label>
                <div class="col-md-10">
                    <textarea id="BookNote" name="內容簡介" class="k-textbox" rows="5" maxlength="2400" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><span class="requiredMark">*</span>購書日期</label>
                <div class="col-md-10">
                    <input id="BookBoughtDate" name="購書日期" class="form-control l" required />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2"><span class="requiredMark">*</span>圖書類別</label>
                <div class="col-md-10">
                    <select id="BookClass" name="圖書類別" required></select>
                </div>
            </div>

            <div id="Status" class="form-group">
                <label class="control-label col-md-2"><span class="requiredMark">*</span>借閱狀態</label>
                <div class="col-md-10">
                    <select id="BookStatus"></select>
                </div>
            </div>

            <div id="Keeper" class="form-group">
                <label class="control-label col-md-2">借閱人</label>
                <div class="col-md-10">
                    <select id="BookKeeper"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-12">
                    <input id="InsertBook" type="button" class="btn btn-info" value="新增" />
                    <input id="SaveEditBook" type="button" class="btn btn-info" value="存檔" />
                    <input id="DeleteBook" type="button" class="btn btn-info" value="刪除" />
                    <input id="EditBook" type="button" class="btn btn-info" value="編輯" />
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/AppMarketingAnalysis/Index">回首頁</a>
</div>

<script src="~/Scripts/InsertBookView.js"></script>

