
@{
    ViewBag.Title = "LendRecordView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>書籍借閱紀錄</h2>
<hr />
<div id="NotFind" style="color:red;text-align:center;">無借閱紀錄</div>
<div id="LendRecordGrid"></div>
<div>
    <a href="/AppMarketingAnalysis/Index">回首頁</a>
</div>

<script src="~/Scripts/LendRecordView.js"></script>
